.questionBtn--fail {
  background-color: rgb(255, 42, 42);
}

.logo-chat {
  width: 25%;
  margin-top: 20px;
  margin-bottom: 35px;
}

/* .bubbleWrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: rgb(0, 0, 0);
  width: 100%;
} */

/* .otherBubble {
  font-size: 1.3rem;
  min-width: 60px;
  max-width: 700px;
  padding: 22px 22px;
  background-color: #eb9c48;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

.other {
  align-self: flex-start;
} */

.questionOptions button {
  width: 100%;
  margin-bottom: 15px;
  background-color: #d1e9b6;
  border: 0.2px dotted;
  border-radius: 10px 10px 10px 10px;
}

.questionOptions button {
  position: relative;
  background-color: #098256d2;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  /* width: 200px; */
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.questionOptions button:after {
  content: "";
  background: #d51a1a;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.questionOptions button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.questionBtn--fail {
  background-color: rgb(145, 39, 39) !important;
}

.bubbleWrapper {
  position: relative;
  background: #eb9c48;
  border-radius: 0.4em;
  font-size: 1.3rem;
  padding: 22px 22px;
}

.bubbleWrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-top-color: #eb9c48;
  border-bottom: 0;
  border-left: 0;
  margin-left: -19px;
  margin-bottom: -33px;
}
