@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
  font-family: "Bangers", sans-serif;
  background-image: url("leaves_background.jpg");
  background-size: cover;
  height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* .container {
  border: 2px solid black;
} */

.heading,
.subheading,
.paragraph {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  font-size: 1.7rem;
}

p {
  font-family: "PT Sans Narrow";
}

/* treba doplnit dajake flex-basis na vyrovnanie about us tiez */

ul.nav-ul {
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
}

ul {
  margin-left: 0;
}

.nav-ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px 5px;
}

h2,
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 
.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
} */
