.ovladani {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ovladani > * {
  position: static !important;
}

.score {
  border: 1px solid black;
  width: 50%;
  margin: 10px auto 0px;
  padding: 10px;
}

/* .map {
  position: relative;
}
.btn {
  position: absolute;
} */
