@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.heading,
.subheading {
  text-align: center;
  max-width: 90%;
  margin: 5px auto;
}

.heading {
  font-size: 2.5rem;
}

.subheading {
  font-size: 2rem;
}

.logo-congrat {
  display: block;
  margin: 20px auto;
  width: 80%;
}

.paragraph-congrat {
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
}

.btn-winner {
  background-color: #fdd626;
  border: 2px yellow;
}
