@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

.heading,
.subheading {
  text-align: center;
  max-width: 90%;
  margin: 5px auto;
}

/* Pridano start */
.heading {
  font-size: 3rem;
}

.subheading {
  font-size: 2rem;
}
/* Pridano end */

.paragraph-home {
  /* zmenen z center */
  text-align: center;
  max-width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  font-family: "PT Sans Narrow";
}

.logo-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button-home {
  display: block;
  font-family: "Bangers", sans-serif;
  font-size: 1.4rem;
  padding: 0.5em 3em;
  border: 2px solid black;
  background: transparent;
}
