.logo-username {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.paragraph-home {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3rem;
  font-family: "PT Sans Narrow";
}

.username-form {
  text-align: center;
}

.username-input {
  font-family: "PT Sans Narrow";
  font-size: 1.2rem;
  width: 70%;
  background-color: white;
  border: 0;
  border: 2px solid black;
  padding: 7px;
}

.btn-username {
  margin-top: 10px;
  padding: 10px 25px;
}

.btn-disabled {
  border: none;
  padding: 10px;
}

.element-hidden {
  display: none;
}
