@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Bangers", sans-serif;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: -webkit-fill-available;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.nav-ul {
  font-size: 1.5rem;
  margin-top: 15px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  justify-content: space-around;
}

.nav-ul li {
  display: block;
  color: black;
  padding: 5px 5px;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
}

.btn--rules {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.rules {
  position: relative;
  text-align: left;
  width: 300px;
  min-width: 300px;
  max-width: 70%;
  padding: 0px 15px 40px;
  font-size: 1.2rem;
  font-family: "PT Sans Narrow", sans-serif;
  border: 1px solid black;
  background-color: #f0f0e4;
}

.btn--close {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
  padding: 5px 30px;
  font-size: 1rem;
  background-color: #e1d3b6;
  font-family: "PT Sans Narrow";
  font-weight: bold;
}
